---
import Link from './Link.astro';
import List from './List.astro';
import { getClassAttribute } from '../lib/utils.ts'
const { as: Text = 'p', block } = Astro.props;

let objType: string;
Text === 'figcaption' ? objType = 'caption' : objType = 'rich_text'
let blockObjs = block[block.type][objType]
blockObjs = getClassAttribute(block, objType)

---

<List {block} is_first={true} />
<Text>
  {
    blockObjs.map((blockObj) => (
        blockObj.href ?
        (<Link href={blockObj.href}>
          {
            blockObj.classList?.length > 0 ? 
            <span class={blockObj.classList.join(' ')}>{blockObj.plain_text}</span> :
            blockObj.plain_text
          }
        </Link>) :
        (<Fragment>
          {
            blockObj.classList?.length > 0 ? 
            <span class={blockObj.classList.join(' ')}>{blockObj.plain_text}</span> :
            blockObj.plain_text 
          }
        </Fragment>)
      ))
  }
  <slot />
</Text>
<List {block} is_last={true} />


<style>
  .notion-bold {
    font-weight: bold;
  }

  .notion-italics {
    font-style: italic;
  }

  .notion-underline {
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  .notion-strikethrough {
    text-decoration: line-through;
  }
</style>
